[submodule "lib/IntelSEAPI"]
	path = workspace/intel-seapi-sys/lib/IntelSEAPI
	url = https://github.com/intel/IntelSEAPI
[submodule ".cargo"]
	path = .cargo
	url = https://github.com/lemonrock/.cargo.git
